*
!.jj
!.gitignore
!.bazelrc
!*.toml

# DOCUMENTATION
!docs/
!*.md

# NIX
!nix/
!*.nix
!flake.lock

# rust
!*.rs
!src/
!*.toml
!Cargo.lock

# BUILD SYSTEMS
!*.bazel

# PROJECTS
!tests/
!tools/
!third_party/

# BRANDING
!brand/
